html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  body {
    background: #ffffff;
    font-family: sans-serif;
    overflow: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .videoContainer {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .video, .canvas {
    position: absolute;
    top: 20px;
    margin-left: 0;
  }

  .canvas {
      display: none;
  }

.resultsContainer {
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.resultsOverlay,
.resultsContents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.resultsOverlay {
  z-index: 10;
}

.resultsContents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultsOverlay {
    background-color: black;
    opacity: 0.0;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.caption {
  max-width: 160px;
  color: black;
  text-align: center;
}

.person {
  background-color: white;
  padding: 5px;
  flex: 1;
  max-width: 160px;
}

.controlsContainer {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-height: 73px;
}

/* Radio group */
.segmented {
  display:flex;
  flex-flow:row wrap;
  box-sizing:border-box;
  font-family:"Arial";
  font-size:90%;
  text-align:center;
  min-width: 200px;
}
.segmented label {
  display:block;
  flex:1;
  box-sizing:border-box;
  border:1px solid #167efb;
  border-right:none;
  color:#167efb;
  margin:0;
  padding:.4em;
  cursor: pointer;
  user-select:none;
  -webkit-user-select:none;
}
.segmented label.checked {
  background:#167efb;
  color:#fff;
}
.segmented.inverted label {
  border-color:#fff;
  color:#fff;
  background:none;
}
.segmented.inverted label.checked {
  background:#fff;
  color:inherit;
}
.segmented label:first-child {
  border-radius:.4em 0 0 .4em;
  border-right:0;
}
.segmented label:last-child {
  border-radius:0 .4em .4em 0;
  border-right:1px solid;
}
.segmented input[type="radio"] {
  appearance:none;
  -webkit-appearance:none;
  margin:0;
  position: absolute;
}