html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  body {
    background: #ffffff;
    font-family: sans-serif;
    overflow: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .videoContainer {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .video, .canvas {
    position: absolute;
    top: 20px;
    margin-left: 0;
  }

  .canvas {
      display: none;
  }

.resultsContainer {
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.resultsOverlay,
.resultsContents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.resultsOverlay {
  z-index: 10;
}

.resultsContents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultsOverlay {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.caption {
  max-width: 160px;
  color: black;
  text-align: center;
}

.person {
  background-color: white;
  padding: 5px;
  flex: 1;
  max-width: 160px;
}