html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

body {
  background: #ffffff;
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.videoContainer {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: initial;
}

.canvas {
    display: none;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.column-one {
  order: 1;
  padding: 10px 5px 10px 10px;
  overflow-y: auto;
}

.column-two {
  order: 2;
  display: flex;
  align-items: center;
}

.column-three {
  order: 3;
  padding: 10px 10px 10px 5px;
  overflow-y: auto;
}

.row {
  display: flex;
  align-items: flex-start;
  padding: 10px 5px;
  border-bottom: dotted 1px grey;
  background-color: white;
}

.row.interactive {
  cursor: pointer;
}

.row.interactive:hover {
  background-color: rgb(176, 225, 255);
}

.row:first-child {
  border-top: dotted 1px grey;
}

.row .predicted-image {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.row .row-text {
  font-size: 14px;
  margin-left: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 60px;
}

.row .row-text .name {
  overflow: hidden;
}

.row .row-text .time {
  font-size: 10px;
  color: grey;
}

.row .row-text .rating {
  margin-top: 3px;
}

.rating img {
  height: 16px;
  width: 16px;
  margin: 0 2px;
}

.resultsContainer {
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.resultsOverlay,
.resultsContents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.resultsOverlay {
  z-index: 10;
}

.resultsContents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultsOverlay {
    background-color: black;
    opacity: 0.0;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.person, .profile {
  position: relative;
  background-color: white;
  padding: 5px;
  flex: 1;
  max-width: 160px;
  -webkit-margin-start: 5px;
  -webkit-margin-end: 5px;
}

.person .caption, .profile .caption {
  max-width: 160px;
  color: black;
  text-align: center;
}

.person .icon, .profile .icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 140px;
    top: 0;
}

.profile .profile-pic {
    height: 160px;
    width: 160px;
}

.profile {
  -webkit-margin-after: 0;
}

.profile .caption {
  display: flex;
  justify-content: center;
}

.profile .caption h2 {
  margin: 5px;
}

.top-predictions {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.top-predictions h3 {
  -webkit-margin-after: 10px;
}

.top-predictions h4, .top-predictions h5 {
  -webkit-margin-after: 0;
}

.top-predictions h5 {
  margin: 5px !important;
}

.top-predictions .row {
  flex-direction: column;
  align-items: center;
}

.top-predictions .prediction-list {
  width: 100%;
}

.top-predictions .rating {
  margin: 5px;
}

.top-predictions .training-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.top-predictions .training-images img {
  width: 60px;
  height: 60px;
}

.top-predictions .table-cell {
  padding: 0;
  font-size: 18px;
}

.controlsContainer {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-height: 73px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  color: #fff;
  background-image: url(../images/15xvbd5.png), -webkit-linear-gradient(#167efb, #167efb 40%, #167efb);
  background-color: #167efb;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
}

/* Radio group */
.segmented {
  display:flex;
  flex-flow:row wrap;
  box-sizing:border-box;
  font-size:90%;
  text-align:center;
  min-width: 200px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.segmented label {
  display:block;
  flex:1;
  box-sizing:border-box;
  border:1px solid #167efb;
  border-right:none;
  color:#167efb;
  margin:0;
  padding:.4em;
  cursor: pointer;
  user-select:none;
  -webkit-user-select:none;
}
.segmented label.checked {
  background:#167efb;
  color:#fff;
}
.segmented.inverted label {
  border-color:#fff;
  color:#fff;
  background:none;
}
.segmented.inverted label.checked {
  background:#fff;
  color:inherit;
}
.segmented label:first-child {
  border-radius:.4em 0 0 .4em;
  border-right:0;
}
.segmented label:last-child {
  border-radius:0 .4em .4em 0;
  border-right:1px solid;
}
.segmented input[type="radio"] {
  appearance:none;
  -webkit-appearance:none;
  margin:0;
  position: absolute;
}

.input-toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.input-toggle:before {
  content: "more";
  left: 0;
  color: #fff;
}
.input-toggle:after {
  content: "less";
  right: 0;
  color: #1a626e;
}
.input-toggle:before, .input-toggle:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 12px 12px;
  font-size: 12px;
  z-index: 0;
}
.input-toggle input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.input-toggle input:checked ~ .input-toggle-handle {
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px #31a2a8;
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px #31a2a8;
}
.input-toggle input:checked ~ .input-toggle-handle:before {
  left: calc(50% + 3px);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #31a2a8, 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #31a2a8, 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.input-toggle-handle {
  display: block;
  width: 84px;
  height: 31px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#167efb), to(#167efb));
  background-image: linear-gradient(#167efb, #167efb);
  border-radius: 10em;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 44px 44px #fff;
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 44px 44px #fff;
}

.input-toggle-handle:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 8px;
  width: 32px;
  height: 20px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background: #fff;
  border-radius: 10em;
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.busyMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.field {
  padding: 0 24px;
  margin: auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.label {
  color: #444;
  /* font-weight: 700; */
}

.input-toggle {
  margin-right: 12px;
}

.table-header {
  order: 0;
}

.table-cell {
  order: 1;
  font-size: 28px;
}


/* Variables
================================== */
/* Tables
================================== */
.Rtable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 10px 0;
  padding: 0;
}
.Rtable-cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background: rgba(112, 128, 144, 0.2);
}
.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
  margin: 0;
}
/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
/* Page styling
================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
strong {
  color: #434d57;
}
/* Apply styles
================================== */
.Rtable {
  position: relative;
  top: 3px;
  left: 3px;
}
.Rtable-cell {
  margin: -3px 0 0 -3px;
  background-color: white;
}
/* Cell styles
================================== */
.Rtable-cell--dark {
  background-color: slategrey;
  border-color: #5a6673;
  color: white;
}
.Rtable-cell--dark > h1,
.Rtable-cell--dark > h2,
.Rtable-cell--dark > h3,
.Rtable-cell--dark > h4,
.Rtable-cell--dark > h5,
.Rtable-cell--dark > h6 {
  color: white;
}
.Rtable-cell--medium {
  background-color: #b8c0c8;
  border-color: #a9b3bc;
}
.Rtable-cell--light {
  background-color: white;
  border-color: #e2e6e9;
}
.Rtable-cell--highlight {
  background-color: lightgreen;
  border-color: #64e764;
}
.Rtable-cell--alert {
  background-color: darkorange;
  border-color: #cc7000;
  color: white;
}
.Rtable-cell--alert > h1,
.Rtable-cell--alert > h2,
.Rtable-cell--alert > h3,
.Rtable-cell--alert > h4,
.Rtable-cell--alert > h5,
.Rtable-cell--alert > h6 {
  color: white;
}
.Rtable-cell--head {
  background-color: slategrey;
  border-color: #5a6673;
  color: white;
}
.Rtable-cell--head > h1,
.Rtable-cell--head > h2,
.Rtable-cell--head > h3,
.Rtable-cell--head > h4,
.Rtable-cell--head > h5,
.Rtable-cell--head > h6 {
  color: white;
}
.Rtable-cell--foot {
  background-color: #b8c0c8;
  border-color: #a9b3bc;
}
/* Alignment
==================================== */
.Rtable-cell--alignTop,
.Rtable-cell--alignMiddle,
.Rtable-cell--alignBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Rtable-cell--alignTop {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.Rtable-cell--alignMiddle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Rtable-cell--alignBottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.Rtable-cell--alignLeft {
  text-align: left;
}
.Rtable-cell--alignCenter {
  text-align: center;
}
.Rtable-cell--alignRight {
  text-align: right;
}